<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Node Multi-route HTTP Server</title>
        <style>
            .button {
              background-color: #1c87c9;
              border: none;
              color: white;
              padding: 20px 34px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 20px;
              margin: 4px 2px;
              cursor: pointer;
            }

            .tea {
                padding: 100px;
            }
          </style>
    </head>
    <body>
        <a href="/" class="button">Home</a>
        <a href="contact" class="button">Contact</a>
        <a href="products" class="button">Products</a>
        <a href="subscribe" class="button">Subscribe</a>
        
        <h1>I'm a teapot!!!</h1>
        <img src="https://cdn.xxl.thumbs.canstockphoto.com/cartoon-character-of-teapot-with-angry-face-vector-illustration-eps-vector_csp77732081.jpg" class="tea">
        <h3>The server refuses to brew coffee because it is, permanently, a teapot.</h3>
        <h4>Please see:<a href="https://www.rfc-editor.org/rfc/rfc2324#section-2.3.2">https://www.rfc-editor.org/rfc/rfc2324#section-2.3.2</a></h4>
    </body>
</html>